*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100dvh;
	font-size: 16px;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	background: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
